.registerWrapper {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
#registerContent {
  width: 420px;
  background-color: rgba(45, 54, 74, 0.75);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 8px 25px -70px rgba(0, 0, 0, 0.1);
}
#registerContent #regisHeader h1 {
  color: rgb(202, 216, 234);
}
#registerContent p:nth-child(2) {
  color: rgb(202, 216, 234);
  font-weight: 500;
}
#registerContent #form {
  width: 100%;
  margin-top: 30px;
}
#registerContent #form #input_field {
  width: 100%;
}
#registerContent #form #input_field {
  margin-top: 15px;
}
#registerContent #form #input_field input {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid rgba(92, 100, 119, 0.75);
  outline: none;
  color: rgb(202, 216, 234);
  border-radius: 3px;
}
#registerContent #form #input_field input::placeholder {
  color: rgb(94, 107, 124);
}
#registerContent #form #input_field input:is(:active, :focus) {
  border-color: #0a80ff;
  box-shadow: 0 0 1px #0a80ff;
}
#registerContent #form #input_field {
  position: relative;
}
#registerContent #form #input_field i {
  position: absolute;
  right: 20px;
  top: 15px;
  color: rgb(202, 216, 234);
  cursor: pointer;
}
#registerContent
  #form
  #input_field:nth-child(2)
  input:is(:focus)
  ~ #action_button
  i {
  color: #0a80ff;
}
#button {
  margin-top: 15px;
}
#button button {
  width: 100%;
  height: 55px;
  outline: none;
  border: none;
  background-color: #0765ca;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
#button button:hover {
  background-color: #156dcb;
}

#bottom_footer {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}
#bottom_footer p {
  color: #fff;
}
#bottom_footer a {
  color: #0a80ff;
  text-decoration: none;
}
#bottom_footer a:hover {
  text-decoration: underline;
}
.Error {
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: absolute;
  right: 20px;
  opacity: 1;
  pointer-events: auto;
  width: 300px;
  bottom: 20px;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(38, 55, 80);
  color: rgb(198, 222, 254);
  border-left: 3px solid rgb(225, 33, 33);
}
.Hidden {
  position: absolute;
  right: 0;
  opacity: 0;
  pointer-events: none;
  width: 300px;
  bottom: 20px;
  padding: 15px 30px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(38, 55, 80);
  color: rgb(198, 222, 254);
  border-left: 3px solid rgb(232, 77, 77);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#recovery,
#forgot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
#recovery a,
#forgot a {
  text-decoration: none;
  color: #0a80ff;
}
#recovery a:hover,
#forgot a:hover {
  text-decoration: underline;
}
@media (prefers-color-scheme: light) {
  #registerContent {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 8px 25px -70px rgba(0, 0, 0, 0.1);
  }
  #registerContent #regisHeader h1 {
    color: rgb(14, 86, 180);
  }
  #registerContent p:nth-child(2) {
    color: rgb(19, 30, 45);
    font-weight: 500;
  }
  #registerContent #form #input_field input:is(:active, :focus) {
    border: 2px solid #215791;
    box-shadow: 0 0 1px #215791;
  }
  #registerContent #form #input_field input {
    color: black;
  }
  #registerContent #form #input_field input::placeholder {
    color: black;
  }
  #registerContent #form #input_field:nth-child(2) i {
    position: absolute;
    right: 20px;
    top: 15px;
    color: rgb(161, 165, 172);
    cursor: pointer;
  }
  #bottom_footer p {
    color: rgb(0, 0, 0);
  }
}
